.content-tasks{
    max-width: 960px;
    margin: auto;
    padding: 5px;
}
.content-options{
    display: flex;
    justify-content: space-between;
}
.list{
    border-radius: 10px;
}
.btn-reload{
    background: #f9f9f9;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #d6d6d6;
}
.item-list{
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.item-content{
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.item-title{
    font-weight: 200;
    font-size: 24px;
}
.content-small-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.small-info{
    font-size: 12px;
    font-weight: 300;
}
.item-options{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* task status */
.item-status{
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
.item-status.pending{
    color: rgb(254, 160, 20);
}
.item-status.late{
    color: rgb(179, 53, 8);
}
.item-status.success{
    color: rgb(7, 169, 9);
}
/* task options */
.btn-item-action{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin: 3px;
    background: transparent;
    cursor: pointer;
}
.btn-item-action.check{
    border: 1px solid #1bb403;
    color: #1bb403;
}
.btn-item-action.update{
    border: 1px solid #3a77f2;
    color: #3a77f2;
}
.btn-item-action span{
    font-size: 20px;
}
.btn-item-action.update:hover{
    color:white;
    background: #3a77f2;
    transition: 0.3s all ease;
}
.btn-item-action.delete{
    border: 1px solid #c10808;
    color:#c10808;
}
.btn-item-action.delete:hover{
    color:white;
    background: #c10808;
    transition: 0.3s all ease;
}

@media(max-width:640px){
    .item-content{
        width: 70%;
    }
    .item-options{
        width: 30%;
    }
    .item-status.pending{
        display: block;
        margin: 0;
    }
}