<section class="content-tasks mt-5">
    <section class="content-options">
        <button class="btn btn-sm btn-outline-success" (click)="openDialog('create',null)">Agregar</button>
        <button class="btn btn-reload" (click)="sendRequest()">
            <span class="material-symbols-outlined">
                sync
            </span>
        </button>
    </section>
    <div class="list mt-3 shadow p-3">
        <div *ngIf="tasks.length > 0">
            <div class="item-list mb-3" *ngFor="let item of tasks">
                <div class="item-content" (click)="openDialog('view',item.id)">
                    <div class="item-title">
                        {{item.taskName}}
                        <span class="item-status" [ngClass]="{'pending':item.status=='Pendiente','late':item.status=='Retrasada','success':item.status=='Completada'}">
                            {{item.status}}
                        </span>
                    </div>
                    <div class="content-small-info d-flex justify-content-between">
                        <span class="small-info">Empleado: {{item.employee.name}}</span>
                        <span class="small-info">Ejecución: {{item.execution}}</span>
                        <span class="small-info">Atraso: {{item.late}}</span>
                    </div>
                </div>
                <div class="item-options">
                    <button *ngIf="item.status != 'Completada'" class="btn-item-action check" title="Realizada" (click)="checkTask(item.id)">
                        <span class="material-symbols-outlined">
                            check
                        </span>
                    </button>
                    <button class="btn-item-action update" title="Editar" (click)="openDialog('update',item.id)">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <button class="btn-item-action delete" title="Eliminar" (click)="delete(item.id)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>            
            </div>
        </div>
        <div *ngIf="tasks.length == 0">
            <h2 class="no-result">No hay resultados</h2>
        </div>
        
    </div>
</section>
<div class="content-loader" *ngIf="loading">
    <mat-progress-spinner 
        mode="indeterminate"
        diameter="50">
    </mat-progress-spinner>
</div>

